[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim/bundle/snipmate"]
	path = vim/bundle/snipmate
	url = https://github.com/msanders/snipmate.vim.git
[submodule "vim/bundle/pydoc"]
	path = vim/bundle/pydoc
	url = https://github.com/fs111/pydoc.vim.git
